/*stylesheet*/


body {
	background-color: #0E0E47;
	color: #000;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background: url('../images/disney-epcot.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

#wrapper {
	margin: 2em auto;
	max-width: 960px;
	padding: 0 20px;
}

.article {
	padding: 60px 0 20px 0;
	background-color: #fff;
}

img{
	display: block;
	width: 100%;
	height: auto;
	margin: 60px 0;
}

h1, h2, h3, h4, h5, p {
	margin-left: 20px;
	margin-right: 20px;
}

p{
	font-weight: 300;
	line-height: 1.6;
}

p.byline{
	color: #0E0E47;
	font-size: 14px;
}

h1{
	font-family: 'Oleo Script', cursive;
	font-weight: 700;
	color: #0E0E47;
	margin-top: 0;
}

h2{
	font-size: 19px;
	color: #0E0E47;
}

h3{
	font-size: 18px;
	color: #0E0E47;
}

h4{
	font-size: 18px;
	color: #0E0E47;
}

h5{
	font-size: 18px;
	color: #0E0E47;
}